.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.cart-sidebar {
  position: fixed;
  padding: 1rem;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
  background-color: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  flex-direction: column;

  .cart-header {
    border-bottom: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 10px;
    
    &-title {
      display: flex;
      gap: 16px;
      align-items: center;
    }

    &-action {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .delete-all {
        padding: 6px 14px;
        border-radius: 8px;
        border: 1px solid #F58220;
        display: flex;
        justify-content: center;
        cursor: pointer;
      }
    }

    h2 {
      margin: 0;
      font-size: 18px;
    }

    .close-button {
      background: none;
      border: none;
      padding: 0;
      font-size: 16px;
      cursor: pointer;
    }
  }

  .cart-body {
    padding-top: 1rem;
    overflow-y: auto;

    .cart-item {
      display: flex;
      align-items: center;
      margin-bottom: 16px;

      img {
        width: 50px;
        height: 50px;
        margin-right: 16px;
        border-radius: 4px;
      }

      .item-details {
        flex: 1;

        &-name {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        &-vendor {
          display: flex;
          flex-direction: column;
          text-align: left;
          font-size: 12px;

          &-2 {
            font-weight: 500;
          }
        }

        h4 {
          margin: 0 0 8px;
          font-size: 16px;
          text-align: left;
        }

        p {
          margin: 0;
          font-size: 14px;
          color: #555;
        }
      }

      .item-quantity {
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
          background: none;
          border: 1px solid #ddd;
          padding: 4px 8px;
          font-size: 14px;
          cursor: pointer;

          &:disabled {
            cursor: not-allowed;
            opacity: 0.5;
          }
        }

        span {
          margin: 0 8px;
        }
      }
    }
  }

  .cart-footer {
    border-top: 1px solid #ddd;
    padding-top: 1rem;

    &-selected {
      font-weight: bold;
      padding: 8px 16px;
      background-color: #F2F2F2;
      border-radius: 12px;
      text-align: left;
    }

    p {
      margin: 0 0 8px;
      font-size: 14px;
      font-weight: bold;
    }

    .next-button {
      width: 100%;
      padding: 8px 16px;
      background-color: #F58220;
      color: #fff;
      border: none;
      border-radius: 8px;
      font-size: 16px;
      cursor: pointer;

      &:hover {
        background-color: #fc8d2c;
      }
    }
  }

  .checkbox {
    margin: 1rem;
  }
}
